#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background: url('./components/background.jpg');
  background-size: cover;
}

.App {
  font-family:Avenir, "Century Gothic", sans-serif;
  font-weight:100; 
  font-style:normal;
  font-size: calc(10px + 2vmin);
  color: #000000;
  justify-content: center;
  
}

.header{
  width: 100%;
  color: #000000;
  text-align: center;
  background-color: #f0f0f0;
  opacity: 0.9;
}

.headerBtn {
  margin-bottom: 50px;
  margin-right: 10px;
}

button:hover {
  border-color: #646cff;
}

